<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <connectionStrings> 
      <add name="DragonDatabase" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
           AttachDbFilename=C:\Users\my\Documents\Visual Studio 2017\Projects\SDV701-AdminApp\db2\nullDragonAdopts.mdf; 
           Database=DRAGONS.MDF"/>
    </connectionStrings>
</configuration>